<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.estudos.ap1">

    <!-- Permissão para acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permissão para leitura de armazenamento (se necessário) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ap1"
        android:usesCleartextTraffic="true"
        tools:targetApi="34"
        tools:ignore="GoogleAppIndexingWarning">

    <!-- Activity principal -->
    <activity
        android:name=".ListaUsuariosActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- Activity para calcular IMC -->
    <activity
        android:name=".CalcularIMCActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:parentActivityName=".ListaUsuariosActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="br.com.estudos.ap1.ListaUsuariosActivity" />
    </activity>

    <!-- Activity para editar usuário -->
    <activity
        android:name=".EditarUsuarioActivity"
        android:exported="true"
        android:screenOrientation="portrait"
        android:parentActivityName=".ListaUsuariosActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="br.com.estudos.ap1.ListaUsuariosActivity" />
    </activity>

</application>
    </manifest>